#container{
    -fx-background-color:#000;
}
#movieBox{
    -fx-background-color:#000;
    -fx-font-size: 20pt ;
}
.button{
    -fx-background-color:#f5821e;
    -fx-cursor:hand;
    -fx-border-color: black;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-font-family:"Futura";
    -fx-text-fill: #000;
    -fx-border-radius:10px;
    -fx-background-radius:10px;
}
.button:hover{
    -fx-text-fill: #fff;
    -fx-border-color: #fff;
}
#recomendLabel{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}
#logo{
    -fx-font-weight: bold;
    -fx-font-size: 25px;
}
#test{
    -fx-background-color:#c8cccb;
    -fx-height:10px;
    -fx-pref-width:70px;
    -fx-font-size: 15px;
}
#rectangleId{
    -fx-background-color:red;
}